#restaurantLayoutGrid, #dineInPromptView {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

/******************************************************************
 *                                                                *
 * Keypad
 *                                                                *
 ******************************************************************/

.keypad-button {
    -fx-background-color: #8C1200;
}

.keypad-text {
    -fx-background-color: transparent;
}

/******************************************************************
 *                                                                *
 * Seat Style Classes
 *                                                                *
 ******************************************************************/

#seatView0 {
    -fx-border-width: 2px;
    -fx-border-color: #8C1200;
    -fx-background-color: transparent;
}

#seatTag0 {
    -fx-text-fill: #eeeeee;
}

#seatView1 {
    -fx-background-color: #D8AD00;
}

#seatTag1 {
    -fx-text-fill: #111111;
}

#seatView2 {
    -fx-background-color: #D07B00;
}

#seatTag2 {
    -fx-text-fill: #111111;
}

#seatView3 {
    -fx-background-color: #C84900;
}

#seatTag3 {
    -fx-text-fill: #eeeeee;
}

#seatView4 {
    -fx-background-color: #8C1200;
}

#seatTag4 {
    -fx-text-fill: #eeeeee;
}