/* Gap between logo & keypad */
#gpLogin {
    -fx-hgap: 80px;
    -fx-vgap: 80px;
}

#lblPinContainer {
    -fx-border-color: #A80000;
    -fx-border-width: 5px;
}

#lblPinContainer .label {
    -fx-text-fill: #D8AD00;
    -fx-font-size: 3em;
    -fx-font-weight: bolder;
}

/******************************************************************
 *                                                                *
 * Keypad Style
 *                                                                *
 ******************************************************************/

#keypad {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-alignment: center;
}

#keypadButton {
    -fx-background-color: #A80000;
    -fx-max-width: 140px;
    -fx-min-width: 140px;
    -fx-max-height: 140px;
    -fx-min-height: 140px;
}

#lgKeypadButton {
    -fx-background-color: #A80000;
    -fx-max-width: 290px;
    -fx-min-width: 290px;
    -fx-max-height: 140px;
    -fx-min-height: 140px;
}

#keypadText {
    -fx-background-color: transparent;
    -fx-text-fill: #D8AD00;
    -fx-font-size: 3em;
    -fx-font-weight: bolder;
}