/******************************************************************
 *                                                                *
 * Center Content
 *                                                                *
 ******************************************************************/

#center {
    -fx-padding: 10px;
}

/******************************************************************
 *                                                                *
 * Top Bar Configuration
 *                                                                *
 ******************************************************************/

#top {
    -fx-background-color: #aaaaaa;
    -fx-hgap: 8px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.3), 0, 0, 0, 1);
}

#paging {
    -fx-min-width: 90px;
}

#menu {
    -fx-hgap: 8px;
}

#menuText {
    -fx-background-color: transparent;
    -fx-text-fill: #222222;
    -fx-padding: 0 10px 0 10px;
}

#timeText, #dateText {
    -fx-background-color: transparent;
    -fx-text-fill: #222222;
    -fx-font-size: 1.5em;
    -fx-padding: 0 10px 0 10px;
}

/******************************************************************
 *                                                                *
 * Menu Button Classes
 *                                                                *
 ******************************************************************/

#defaultItem {
    -fx-background-color: #555555;
    -fx-padding: 2px;
}

#selectedItem {
    -fx-background-color: #222222;
    -fx-padding: 2px;
}

#buttonItem {
    -fx-background-color: #D8AD00;
    -fx-padding: 2px;
}

#finishItem {
    -fx-background-color: #C01800;
    -fx-padding: 2px;
}
