#editorWrapper, #gpProductEntries, #gpEditor, #gpOptions, #gpModifierGroups, #gpModifiers, #gpQuantity {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

#optionButton {
    -fx-background-color: #8C1200;
}

#optionText {
    -fx-font-weight: bolder;
    -fx-padding: 20px;
}

.primary-info {
    -fx-font-size: 2em;
    -fx-font-weight: bolder;
}

.secondary-info {
    -fx-font-size: 1.5em;
}


#gpTop, #gpBottom {
    -fx-border-color: #8C1200;
    -fx-padding: 0 5px 0 5px;
}

#vbModifierType {
    -fx-border-color: #8C1200;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

#modifierEntryView, #modifierGroupView, #modifierOptionsView {
    -fx-background-color: #8C1200;
    -fx-alignment: center-left;
}

#modifierTagPane, #modifierGroupTagPane {
    -fx-background-color: #A80000;
}

#modifierTag, #modifierGroupTag {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-weight: bolder;
    -fx-text-fill: #FFFFFF;
}

#modifierName, #modifierGroupName {
    -fx-text-fill: #FFFF0F;
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-padding: 4px;
}

#modifierPrice {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: #000000;
}