#editorWrapper, #gpMenu, #gpSalesOrder, #gpCategories, #gpMenuItems, #paging {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

#gpTop, #gpBottom {
    -fx-border-color: #c01800;
    -fx-padding: 0 5px 0 5px;
}

#vbOptions {
    -fx-spacing: 10px;
}

#sendOption, #backButton, #gratuityOption, #voidOption, #cancelOption, #printOption, #nextButton {
    -fx-background-color: #C01800;
}

#backText, #nextText, #sendText, #voidText, #printText, #cancelText, #gratuityText {
    -fx-font-weight: bolder;
    -fx-padding: 20px;
}

/******************************************************************
 *                                                                *
 * Categories and Menu Items
 *                                                                *
 ******************************************************************/

#menuItemView, #categoryView {
    -fx-background-color: #C01800;
}

#menuItemTagPane, #categoryTagPane {
    -fx-background-color: #A80000;
}

#menuItemTag, #categoryTag {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-weight: bolder;
    -fx-text-fill: #FFFFFF;
}

#menuItemName, #categoryName {
    -fx-text-fill: #FFEF0F;
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-padding: 4px;
}

#menuItemPrice {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: #000000;
}

/******************************************************************
 *                                                                *
 * Product Entries
 *                                                                *
 ******************************************************************/

#lvOrderEntries {
    -fx-spacing: 10px;
}

#productEntryView {
    -fx-background-color: #C01800;
}

#lblPeMenuItem {
    -fx-background-color: #A80000;
    -fx-padding: 0 10px 0 10px;
}

#lblPeModifiers {
    -fx-padding: 0 20px 0 20px;
}

#lblPeStatus {
    -fx-text-fill: #FFEF0F;
    -fx-padding: 0 10px 0 10px;
}

#lblPeTotal {
    -fx-text-fill: #FFEF0F;
    -fx-font-weight: bolder;
    -fx-padding: 0 10px 0 10px;
}