#editorWrapper, #cookWrapper, #menuWrapper, #gpMenu, #gpSalesOrder, #gpCategories, #gpMenuItems, #gpOptions, #gpScroll,
#gpEntries, #gvPaymentEditor, #paymentWrapper, #gpChargeEntries, #gpPaymentEntries {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

#gpTop, #gpBottom {
    -fx-border-color: #8C1200;
    -fx-padding: 0 5px 0 5px;
}

#optionButton {
    -fx-background-color: #8C1200;
}

#optionText {
    -fx-font-weight: bolder;
    -fx-padding: 20px;
}

#smOptionText {
    -fx-font-weight: bolder;
    -fx-padding: 5px 20px;
}

.primary-info {
    -fx-font-size: 2em;
    -fx-font-weight: bolder;
}

.secondary-info {
    -fx-font-size: 1.5em;
}

/******************************************************************
 *                                                                *
 * Categories and Menu Items
 *                                                                *
 ******************************************************************/

#menuItemView, #categoryView {
    -fx-background-color: #8C1200;
}

#menuItemTagPane, #categoryTagPane {
    -fx-background-color: #A80000;
}

#menuItemTag, #categoryTag {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-weight: bolder;
    -fx-text-fill: #FFFFFF;
}

#menuItemName, #categoryName {
    -fx-text-fill: #FFFF0F;
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-padding: 4px;
}

#menuItemPrice {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: #111111;
}

/******************************************************************
 *                                                                *
 * Product Entries
 *                                                                *
 ******************************************************************/

#lvOrderEntries {
    -fx-spacing: 10px;
}

#productEntryView {
    -fx-background-color: transparent;
}

#lblPeMenuItemWrapper {
    -fx-background-color: transparent;
}

#lblPeMenuItem {
    -fx-background-color: transparent;
    -fx-padding: 0 10px 0 10px;
    -fx-font-size: 1.8em;
}

#lblPeTotal {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFF0F;
    -fx-font-weight: bolder;
    -fx-padding: 0 10px 0 10px;
}

#lblPeModifiers {
    -fx-font-size: 1.5em;
    -fx-padding: 0 20px 0 20px;
}

#lblPeStatus {
    -fx-text-fill: #FFFF0F;
    -fx-padding: 0 10px 0 10px;
}

/******************************************************************
 *                                                                *
 * Change Due
 *                                                                *
 ******************************************************************/

#prompt {
    -fx-font-size: 3em;
}

#change {
    -fx-font-size: 12em;
    -fx-font-weight: bolder;
    -fx-text-fill: #FFFF0F;
}

#done {
    -fx-font-size: 3em;
    -fx-padding: 10px 100px;
    -fx-font-weight: bolder;
    -fx-background-color: #8C1200;
}

/******************************************************************
 *                                                                *
 * Charges
 *                                                                *
 ******************************************************************/

#chargeView {
    -fx-background-color: #8C1200;
}

#lblChargeTag {
    -fx-padding: 0 10px 0 10px;
}

/******************************************************************
 *                                                                *
 * Charge Entries
 *                                                                *
 ******************************************************************/

#chargeEntryView {
    -fx-background-color: #8C1200;
}

#lblChargeName {
    -fx-background-color: #A80000;
    -fx-padding: 0 10px 0 10px;
}

#lblChargeStatus {
    -fx-text-fill: #FFFF0F;
    -fx-padding: 0 10px 0 10px;
}

#lblChargeValue {
    -fx-text-fill: #FFFF0F;
    -fx-font-weight: bolder;
    -fx-padding: 0 10px 0 10px;
}

/******************************************************************
 *                                                                *
 * Payment Entries
 *                                                                *
 ******************************************************************/

#paymentEntryView {
    -fx-background-color: #8C1200;
}

#lblPaymentType {
    -fx-background-color: #A80000;
    -fx-padding: 0 10px 0 10px;
}

#lblPaymentStatus {
    -fx-text-fill: #FFFF0F;
    -fx-padding: 0 10px 0 10px;
}

#lblPaymentAmount {
    -fx-text-fill: #FFFF0F;
    -fx-font-weight: bolder;
    -fx-padding: 0 10px 0 10px;
}

#gpEntryDue {
    -fx-border-color: #8C1200;
    -fx-padding: 0 5px 0 5px;
}

/******************************************************************
 *                                                                *
 * Keypad Style
 *                                                                *
 ******************************************************************/

#keypad {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

#keypadButton {
    -fx-background-color: #8C1200;
}

#keypadText {
    -fx-font-size: 2.8em;
    -fx-font-weight: bolder;
    -fx-background-color: #8C1200;
}

#smKeypadText {
    -fx-font-size: 1.9em;
    -fx-font-weight: bolder;
    -fx-background-color: #8C1200;
}

#keypadEntry {
    -fx-background-color: transparent;
    -fx-font-size: 3em;
    -fx-font-weight: bolder;
    -fx-text-fill: #FFFF0F;
}

#gpCookTime {
    -fx-border-color: #8C1200;
    -fx-padding: 0 5px 0 5px;
}