/* Spacing between customers & customer entry */
#takeOutView {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

/* Spacing between customers */
#gvCustomers {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

/* Spacing between entry groups */
#vbTakeOutEntry {
    -fx-spacing: 10px;
}

/* Customer Entry */
#vbCustomerEntry {
    -fx-border-color: #8C1200;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

/******************************************************************
 *                                                                *
 * Paging and Resetting
 *                                                                *
 ******************************************************************/

#backButton, #nextButton, #resetButton, #createButton {
    -fx-background-color: #8C1200;
}

#backText, #nextText, #resetText, #createText {
    -fx-font-weight: bolder;
    -fx-padding: 20px;
}

#vbPage {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

/******************************************************************
 *                                                                *
 * Individual Customer Views
 *                                                                *
 ******************************************************************/

#customerView {
    -fx-background-color: #8C1200;
}

#customerFullName, #customerPhoneNumber {
    -fx-background-color: #A80000;
    -fx-padding: 0 10px 0 10px;
}

#customerPreviousOrder {

}