/* Spacing between customers & customer entry */
#takeOutView {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

/* Spacing between customers */
#gvCustomers {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

/* Spacing between entry groups */
#vbTakeOutEntry {
    -fx-spacing: 10px;
}

/* Customer Entry */
#vbCustomerEntry {
    -fx-border-color: #8C1200;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

/******************************************************************
 *                                                                *
 * Paging and Resetting
 *                                                                *
 ******************************************************************/

#backButton, #nextButton, #resetButton, #createButton {
    -fx-background-color: #8C1200;
}

#backText, #nextText, #resetText, #createText {
    -fx-font-weight: bolder;
    -fx-padding: 20px;
}

#vbPage {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

/******************************************************************
 *                                                                *
 * Individual Customer Views
 *                                                                *
 ******************************************************************/

#customerView {
    -fx-background-color: #8C1200;
}

#infoWrapper {
    -fx-background-color: #A80000;
    -fx-padding: 5px;
}

#historyPane {
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

.primary-info {
    -fx-font-size: 1.8em;
    -fx-font-weight: bolder;
    -fx-text-fill: #FFFF0F;
}

.secondary-info {
    -fx-font-size: 1.5em;
    -fx-font-weight: bolder;
}

.tertiary-info {
    -fx-font-size: 1.5em;
}
